<launch>

	<arg name="robot_name" default="myrobot2"/>
	<arg name="robot_namespace" default="myrobot2"/>
	<arg name="hardware_interface" default="EffortJointInterface"/>

	<param name="$(arg robot_namespace)/robot_description" command="$(find xacro)/xacro '$(find myrobot_description)/robots/myrobot2.urdf.xacro' robot_name:=$(arg robot_name) hardware_interface:=$(arg hardware_interface) gazebo:='false'"/>

	<!-- Spawning the robot -->
	<node name="spawn2" pkg="gazebo_ros" type="spawn_model" args="-param $(arg robot_namespace)/robot_description -urdf -model $(arg robot_name) -x 1
		-J joint1 0.0
		-J joint2 0.0
		-J joint3 0.0"/>

	<!-- Control Parameter loading -->
	<rosparam command="load" file="$(find myrobot_description)/config/joint_states.yaml" ns="$(arg robot_namespace)"/>
	<rosparam command="load" file="$(find myrobot_description)/config/myrobot2_joint_commands.yaml" ns="$(arg robot_namespace)"/>


	<node name="myrobot_controller_spawner2" pkg="controller_manager" type="spawner" ns="$(arg robot_namespace)" args=
		"joint_state_controller
		joint1_effort_controller
		joint2_effort_controller
		joint3_effort_controller"/>

	<!-- convert joint states to TF transforms for rviz, etc -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub2"> 
  		<remap from="/joint_states" to="/$(arg robot_namespace)/joint_states"/>
		<remap from="robot_description" to="$(arg robot_namespace)/robot_description" />
  	</node>

</launch>