<launch>

	<arg name="robot_name" default="myrobot"/>
	<arg name="robot_namespace" default="myrobot"/>
	<arg name="hardware_interface" default="EffortJointInterface"/>

	<param name="robot_description" command="$(find xacro)/xacro '$(find myrobot_description)/robots/myrobot.urdf.xacro' robot_name:=$(arg robot_name) hardware_interface:=$(arg hardware_interface)"/>

	<!-- Spawning the robot -->
	<node name="spawn" pkg="gazebo_ros" type="spawn_model" args="-param /robot_description -urdf -model $(arg robot_name)
		-J joint1 0.0
		-J joint2 0.0
		-J joint3 0.0"/>

	<!-- Control Parameter loading -->
	<rosparam command="load" file="$(find myrobot_description)/config/joint_states.yaml" ns="$(arg robot_namespace)"/>
	<rosparam command="load" file="$(find myrobot_description)/config/joint_commands.yaml" ns="$(arg robot_namespace)"/>


	<node name="myrobot_controller_spawner" pkg="controller_manager" type="spawner" ns="$(arg robot_namespace)" args=
		"joint_state_controller
		joint1_effort_controller
		joint2_effort_controller
		joint3_effort_controller"/>

	<!-- convert joint states to TF transforms for rviz, etc -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub"> 
  		<remap from="/joint_states" to="/$(arg robot_namespace)/joint_states"/>
  	</node>

</launch>