<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myrobot">
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <!-- <robotNamespace>/</robotNamespace> -->
      <robotNamespace>myrobot</robotNamespace>
    </plugin>
  </gazebo>
  
  <gazebo reference="${arm_id}_link1">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${arm_id}_link2">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${arm_id}_link3">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
  <gazebo reference="${arm_id}_link4">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>

</robot>